# IDE Configuration
.idea/
.vs/
.vscode/
.editorconfig

# Cmake Build
cmake-build-*/
build/
out/
bin/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# Restore Dependencies
includes/
libraries/



